body {
    margin: 0;
}

nav {
    border: black solid .5px;
}
nav > ul {
    list-style: none;
    padding: 0;
}
nav > ul > li {
    display: inline-block;

    font-size: 24px;
    padding: 12px;
}
nav a {
    text-decoration: none;
    color: black;
}
nav a:hover {
    opacity: .3;
}

main {
    display: flex;
}

section {
    margin: 20px;
    padding: 5px;
}

#chapters {
    text-align: center;
    width: 20%;
}
#chapters > ol {
    list-style: none;
    margin: 0;
    padding: 0;

    font-size: 20px;
}
#chapters a {
    text-decoration: none;
    color: black;
}

#mainContent {
    width: 80%;
}

footer {
    background-color: #2b2b2b;

    text-align: center;
    color: #ccc;
    padding: 20px;
    font-size: 26px;
}
