a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;

}
body {
    background-color: #FFFFFF;
    /*margin-bottom: 10px;*/
    /*margin-top: 20px;*/
    /*margin-right: 40px;*/
    /*margin-left: 40px;*/
    margin: 0;
}
code {


    border: 1px solid #EAECF0;
    border-radius: 2px;
}

span {
    background-color: #F8F8F8;
}

.img {
    color: #008000;
    font-weight: bold;
}

.input {
    color: #008000;
    font-weight: bold;
}

.p {
    color: #008000;
    font-weight: bold;
}

section {
    display: table;
    font-size: 95%;
    border: 1px solid #a2a9b1;
    background-color: #f8f9fa;
    margin: 20px;
    padding: 5px;
}
h2 {
    text-align: center;
}
.sublvl1\.i {
    list-style-type: none;
    list-style-image: none;
}

.sublvl1\.i\.i {
    list-style-type: none;
    list-style-image: none;
}

.subLevel2\.i {
    list-style-type: none;
    list-style-image: none;
}

.sublvl2\.i\.i {
    list-style-type: none;
    list-style-image: none;
}

.leftfield {
    display: table;
    padding: 1px;
    font-size: 95%;
    border: 1px solid #a2a9b1;
    background-color: #f8f9fa;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    opacity: .3;
}

nav > ul > li {
     display: inline-block;
     font-size: 24px;
     padding: 12px;
 }

nav {
    background: linear-gradient(45deg, #EECFBA, #C5DDE8);
    border: black solid .5px;
}
nav > ul {
    list-style: none;
    padding: 0;
}

main {

    margin: 20px;
    padding: 5px;
}
.base {
    display: flex;
}

.list1 {
    background: linear-gradient(45deg, #EECFBA, #C5DDE8);
}

footer {
    text-align: center;
    background: linear-gradient(to top, #E4AF9D 20%, #E4E4D8 50%, #A19887 80%);
    color: #2b2b2b;
    font-size: 26px;
    padding: 40px;

}